/* -------- Styleguide © Code by Vinix -------------------------------- */

/* font-family */
@font-face {
    font-family: 'Vinix Sans';
    src: url('Fonts/NeueMontreal-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: 'Vinix Sans';
    src: url('Fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: 'Vinix Sans';
    src: url('Fonts/NeueMontreal-Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: 'Vinix Sans';
    src: url('Fonts/NeueMontreal-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

/* variables */
:root{
    /* colors */
    --theme-color: #1C1D20;
    --visible-color: #FFFFFF;
    --blue-color: #455CE9;
    --dark-blue-color: #334BD3;
    --icons-bg: #393b41;

    /* font-size */
    --fs-8: 0.5rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    
    /* font-weight */
    --fw-light: 200;
    --fw-regular: 300;
    --fw-medium: 400;
    --fw-bold: 500;

    /* box-model */
    --section-padding: clamp(5em, 21vh, 12em);
    --container-padding: clamp(2.5em, 8vw, 8em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);
}

/* resets */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
    background: var(--theme-color);
    font-family: 'Vinix Sans';
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
::selection{
    background-color: var(--blue-color);
    color: var(--visible-color);
    text-shadow: none;
}
a{
    text-decoration: none;
}
label{
    cursor: pointer;
}

/* buttons */
.primary-btn{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    background: var(--icons-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;
}
.primary-btn:hover{
    scale: 1.2;
}
.secondary-btn{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    border: 2px solid var(--blue-color);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;
}
.secondary-btn:hover{
    background: var(--blue-color);
}
.secondary-btn:focus{
    background: var(--dark-blue-color);
}

/* media-queries */
@media screen and (max-width: 500px) {
    .primary-btn{
        width: calc(2.75rem - 2px);
        height: calc(2.75rem - 2px);
    }
    .secondary-btn{
        width: calc(2.75rem - 2px);
        height: calc(2.75rem - 2px);
    }
}