/* -------- Styleguide © Code by Vinix -------------------------------- */

/* font-family */
@font-face {
    font-family: 'Vinix Sans';
    src: url('Fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

/* variables */
:root{
    /* colors */
    --theme-color: #1C1D20;
    --visible-color: #FFFFFF;
    --blue-color: #455CE9;
    --dark-blue-color: #334BD3;
    --icons-bg: #393b41;

    /* font-size */
    --fs-18: 18px;
    --fs-24: 24px;
    
    /* font-weight */
    --fw-regular: 300;
}

/* resets */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vinix Sans';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}
html, body {
    background: var(--theme-color);
}
::selection{
    background-color: var(--blue-color);
    color: var(--visible-color);
    text-shadow: none;
}
a{
    text-decoration: none;
}
label{
    cursor: pointer;
}

/* buttons */
.primary-btn{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--icons-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;
}
.primary-btn:hover{
    scale: 1.2;
}
.secondary-btn{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid var(--blue-color);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;
}
.secondary-btn:hover{
    background: var(--blue-color);
}
.secondary-btn:focus{
    background: var(--dark-blue-color);
}

/* media-queries */
@media screen and (max-width: 500px) {
    .primary-btn,
    .secondary-btn{
        width: calc(44px - 2px);
        height: calc(44px - 2px);
    }
}