/* -------- Styleguide © Code by Vinix -------------------------------- */

/* font-family */
@font-face {
    font-family: 'Vinix Sans';
    src: url('Fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

/* variables */
:root{
    /* colors */
    --theme-color: #1C1D20;
    --visible-color: #F0F0F0;
    --blue-color: #455CE9;
    --dark-blue-color: #334BD3;
    --icons-bg: #393b41;

    /* font-size */
    --fs-18: 18px;
    --fs-24: 24px;
    
    /* font-weight */
    --fw-regular: 300;
}

/* resets */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vinix Sans';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}
html, body {
    background: var(--theme-color);
}
::selection{
    background-color: var(--blue-color);
    color: var(--theme-color);
}
::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
}
label{
    cursor: pointer;
}

/* :hover-states */
aside{
    .content{
        /* icon-sizes */
        #youtube{
            width: 26px;
        }
        #github{
            width: 28px;
        }
        #chatgpt{
            width: 38px;
        }
        #google-drive{
            width: 26px;
        }
        #whatsapp{
            width: 26px;
        }
        #telegram{
            width: 44px;
        }
        #gmail{
            width: 26px;
        }
    
        /* icon:hover-states */
        .primary-btn:hover{
            scale: 1.2;
        }
        /* YouTube */
        .youtube:hover{
            background: #FFF;
        }
        .youtube:hover > #youtube path:nth-child(1){
            fill: #FFF;
        }
        .youtube:hover > #youtube path:nth-child(3){
            fill: #d60000;
        }
        /* GitHub */
        .github:hover{
            background: #171515;
        }
        /* ChatGPT */
        .chatgpt:hover{
            background: #74AA9C;
        }
        /* Google Drive */
        .google-drive:hover{
            background: #FFF;
        }
        .google-drive:hover > #google-drive path:nth-child(1){
            fill: #FFC107;
        }
        .google-drive:hover > #google-drive path:nth-child(2){
            fill: #2196F3;
        }
        .google-drive:hover > #google-drive path:nth-child(3){
            fill: #4CAF50;
        }
        /* WhatsApp */
        .whatsapp:hover{
            background: #25D366;
        }
        /* Telegram */
        .telegram:hover{
            background: #24A1DE;
        }
        /* Gmail */
        .gmail:hover{
            background: #FFF;
        }
        .gmail:hover > #gmail path:nth-child(1){
            fill: #EA4435;
        }
        .gmail:hover > #gmail path:nth-child(2){
            fill: #00AC47;
        }
        .gmail:hover > #gmail path:nth-child(3){
            fill: #FFBA00;
        }
        .gmail:hover > #gmail path:nth-child(4){
            fill: #4285F4;
        }
        .gmail:hover > #gmail path:nth-child(5){
            fill: #C52528;
        }
    }
}