/* ------- Styling © Code by Vinix --------------------- */
#body {
    width: 100%;
    height: 100vh;
    background-color: var(--theme-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}
aside {
    width: auto;
    height: 244px;
    overflow-y: scroll;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 44px;
        padding: 12px;

        .primary-btn {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: var(--icons-bg);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease-in;
        }
    }
}
main {
    & p {
        color: var(--visible-color);
        font-size: var(--fs-24);
        font-weight: var(--fw-regular);
        letter-spacing: 1px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 1px;
            bottom: -8px;
            width: 12px;
            height: 4px;
            border-radius: 24px;
            background: var(--blue-color);
        }
    }
}
.right {
    padding: 12px;

    .secondary-btn {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 2px solid var(--blue-color);
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease-in;
    }

    .secondary-btn:hover {
        border-color: var(--blue-color);
        background: var(--dark-blue-color);
    }

    .secondary-btn svg {
        width: 16px;
        rotate: 90deg;

        & polyline, line {
            stroke: var(--visible-color);
        }
    }

    & a:nth-child(2) {
        display: none;
    }
}
/* Checkbox Styling */
#checkbox {
    display: none;
}
#checkbox:checked ~ #body {
    --theme-color: #FFFFFF;
    --visible-color: #1C1D20;
}

/* media-queries */
@media (max-width:500px) {
    #body {
        flex-direction: column;
        padding: 12px 0;
    }
    aside {
        width: 232px;
        height: auto;
        display: flex;
        overflow-x: scroll;

        .content {
            flex-direction: row;
        }
    }
    main {
        & p {
            font-size: var(--fs-18);
        }
    }
    .right {
        & a:nth-child(1) {
            display: none;
        }
        & a:nth-child(2) {
            display: flex;
        }
    }
}